/* Add this CSS to your existing stylesheet or create a new one */

body {
    font-family: 'Arial', sans-serif;
    background-image: url('images.jpg'); /* Add the path to your background image */
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures that the content is centered vertically */
}

h1 {
    color: #fff;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn:hover {
    background-color: #45a049;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    color: white;
}
